body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: #ead5ce;
  background: -moz-linear-gradient(left, #FFC3B0 0%, #C2AEA9 50%, #CA8989 100%);
  background: -webkit-linear-gradient(left, #FFC3B0 0%, #C2AEA9 50%, #CA8989 100%);
  background: linear-gradient(to right, #FFC3B0 0%, #C2AEA9 50%, #CA8989 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
